* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 1.5em;
  background-color: hsl(240, 78%, 98%);
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  color: hsl(233, 13%, 49%);
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.timeframe {
  display: flex;
  align-items: center;
  color: hsl(234, 14%, 74%);
  margin-top: 2.5rem;
}
.timeframe label{
    margin: 0 25px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(236, 72%, 79%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: hsl(237, 63%, 64%);
}
input:focus + .slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
main{
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.money{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    text-align: center;
    font-weight: 700;
    color: hsl(233, 13%, 49%);
    padding: 20px 25px;
    background-color: #ffffff;
    margin-bottom: 1.8rem;
    border-radius: 10px;
    max-width: fit-content;
}
.card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card p{
    padding: 15px 0px ;
   
}
.Professional{
  background: linear-gradient(80deg,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
  color: hsl(240, 78%, 98%);
  margin-left: 20px;
  margin-right: 20px;
}
.Professional button{
  background: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
}
#Professionalamount, #Basicamount, #Masteramount{
    font-size: 3.5rem;
    font-weight: 700;
}
#Professionalusers, #Professionalstorage, #Professionalsend, .money{
  border-bottom: 1px solid rgba(246, 246, 254, 0.5);;
}
.money p{
  font-size: 35px;
  padding-right: 5px;
}
button{
  margin: 20px 0px 10px;
  font-size: 15px;
  font-weight: 600;
  color: hsl(240, 78%, 98%);
  padding: 9px 70px;
  border-radius: 5px;
  background: linear-gradient(to right,hsl(236, 72%, 79%),hsl(237, 63%, 64%));
  outline: none;
  border: none;
}

